*.nc

# for jupyter notebooks

.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
ENV/
*.nbconvert.ipynb
.DS_Store
Thumbs.db
*.log
~$*
*.bak
.vscode/
.history

# for virtual envs
venv/
.venv/
env/
*.egg-info/
__pycache__/
*.pyc

ecgenv/ 

echo -e "ecgenv/\n.venv/\nvenv/\n__pycache__/\n*.pyc\n" >> .gitignore

# pixi environments
.pixi
*.egg-info

# Ignore TensorFlow/Keras checkpoints
RNN_files/training/checkpoint
RNN_files/training/cp.ckpt*
RNN_files/training